<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/models/css/style.css" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <title>URL Shortener</title>
  </head>
  <body>
    <div class="box-main">
      <h1>URLShortener</h1>
      <form action="/shortURLs" method="POST" class="box-form">
        <label required for="fullURL">URL:</label>
        <input type="url" name="fullUrl" id="fullUrl" placeholder="URL" />
        <button type="submit">Shrink</button>
      </form>
      <table class="box-table">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://couses.webdevssimplifield.com"
                >https://couses.webdevssimplifield.com</a
              >
            </td>
            <td><a href="/123456">123456</a></td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
